html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  font-family: sans-serif;
}

.div{
  padding: 10px;
  height: 100px;
  width: 100px;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}


.card{
  display: grid;
  padding: 10px;
  margin-block: 10px;
  background-color: aqua;
}